<div style="padding: 24px; font-family: Arial, sans-serif; color: #1f2933; background-color: #ffffff; line-height: 1.6; margin: 0; padding: 0;">
    <p>Liebe*r {{first_name}},</p>
    <p>vielen Dank! Wir haben deine Zahlung erhalten.</p>
    <p> Referenznummer: {{reference_number}}</p>
    <p> Bezahlt: {{amount_paid}} € </p>

    <p>Wir freuen uns auf dich!</p>

    <p>Viele Grüße,</p>
    <p>{{sender_name}}</p>
</div>
